@charset "UTF-8";
html{
    font-size: 62.5%;
}

body{
    font-family: BlinkMacSystemFont;
}
.wrapper{
    max-width: 1100px;
    height: 44px;
}

/* ----------------------------
        header
--------------------------------*/

.header{
    background-color: #1d1d1f;
    position: fixed;
    z-index: 3;
    width: 100%;
}

.header-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.nav-list{
    display: flex;
}
.nav-item{
    color:#fff;
    margin: 0 15px;
}
.header img{
    height: 15px;
}
.nav-item a{
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
    padding: 0 8px;
}

/* ----------------------------
        main
--------------------------------*/

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 44px;
    color: #1d1d1f;
}
.main__link{
    text-decoration: none;
    padding: 15px;
    color: #06c;
}

.bg-bk{
    background-size: cover;
    width: 100%;
    background-color: #000;
    color: #fff;
}
/* .bg-bk .main__link{
    color: #fff;
} */

/* ----------------------------
        block-large
--------------------------------*/

.main .block-large{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 600px;
    text-align: center;
}
.main .block-large h1>img{
    height: 40px;
    padding-right: 10px;
}
.main .block-large h1{
    font-size: 4.5rem;
    font-weight: bold;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .block-large h2{
    font-size: 1.8rem;
    margin-top: 20px;
}
.main .block-large p{
    font-size: 1.5rem;
    margin-top: 20px;
}
.main .block-large .ultra{
    margin-top: 10px;
}

.main .bigcheddar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 600px;
}
.main .img-bigcheddar1{
    height: 60%;
    width: auto;
}
.main .img-bigcheddar2{
    height: 80%;
    width: auto;
}
.main .img-cheddar-pro{
    height: 60%;
    width: auto;
    margin: auto;
}

.main .img-cheese-watch{
    height: 50%;
    width: auto;
    margin: auto;
}

/* ----------------------------
        block-small
--------------------------------*/

.main .block-small{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 49.5%;
    height: 600px;
    text-align: center;
}

.main .block-small .icon{
    height: 30px;
    padding-right: 10px;
}
.main .block-small h1{
    font-size: 3.0rem;
    font-weight: bold;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .block-small h2{
    font-size: 1.5rem;
    margin-top: 20px;
}
.main .block-small p{
    font-size: 1.5rem;
    margin-top: 20px;
}
.main .block-small .text-red{
    font-size: 1.0rem;
    color: red;
    margin-top: 10px;
}

.main .img-cheesepod{
    height: 50%;
    width: auto;
    margin: auto;
}
.main .img-torokeru{
    height: 50%;
    width: auto;
    margin: auto;
}
.main .img-Gorgonzola{
    height: 50%;
    width: auto;
    margin: auto;
}
.main .img-Gorgonzola{
    height: 50%;
    width: auto;
    margin: auto;
}
.main .img-Gorgonzola-pro{
    height: 50%;
    width: auto;
    margin: auto;
}
.main .img-cheese-watch2{
    height: 50%;
    width: auto;
    margin: auto;
}
.main .img-cheeseair{
    height: 50%;
    width: auto;
    margin: auto;
}

/* ----------------------------
        footer
--------------------------------*/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    background-color: #f5f5f7;
}
.footer__list{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-top: #1d1d1f solid 0.1px;
}
.footer__list a{
    text-decoration: none;
}

.footer__item_title{
    font-weight: bold;
}
.footer__item{
    padding-bottom: 15px;
}



/*==================================================
スライダーのためのcss
===================================*/

.slider_wrapper{
    margin: 10px 0;
}

.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:90%;
    margin: 0 auto;
}

.slider .slider__image {
    width: 98%;
    height: 80vh;/*スライダー内の画像を80vwにしてレスポンシブ化*/
}

.slider__title{
    position: absolute;
    top: 7%;
    left: 5%;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    font-family: BlinkMacSystemFont;
}
.slider__icon{
    position: absolute;
    bottom: 7%;
    right: 7%;
    display: flex;
    align-items: center;
}
.tv__icon{
    height: 45px;
    width: auto;
    padding-right: 10px;
}
.tv__text{
    font-size: 50px;
    padding-bottom: 10px;
    color: #fff;
}
.bl{
    color: #000;
}


.slider .slick-slide {
	transform: scale(1);/*左右の画像のサイズを等倍に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 1;/*透過なし*/
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズを等倍に*/
	opacity: 1;/*透過なし*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:20px 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 7px;
}

.slick-dots li button {
    color: transparent;
    border: none;
    outline: none;
    display: block;
    border-radius: 50%;
    font: size 10px;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}

